/*Estilos de la vista*/
.info1{
    margin-top: 20;
    margin-left: 70;
    margin-right: 70;
    margin-bottom: 20;
    font: caption bold;
    font-size: 20;
    width: 65%;
}
TextField {
  margin:    5;
  padding:   10;
  font-size: 13;
}
DatePicker{
  width: 80%;
}
Button, TextField {
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 10;
}
Label{
  margin:    5;
  padding:   10;
  font-size: 13;
}
.genero{
  width: 20%;
}
.submit-button {
  background-color: #E73C3E ;
  color:white;
  margin-top: 20;
  width: 50%;
}