.genero{
    width: 20%;
  }
  .clase{
    margin-left: 9;
    margin-right: 150;
    margin-top: 0;
    margin-bottom: 0;
  }
   .submit-button {
  background-color: #E73C3E ;
  color:white;
  margin-top: 30;
  width: 50%;
      margin-bottom: 0;
}
 .back{
        margin: 2;
        padding: 2;
        width: 7%;
        align-items: left;
    }

    
.img {
        width: 60%;
        margin-left: 10;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10;
    }
      .img2 {
        width: 30%;
        margin-left: 10;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10;
    }