<ActionBar title="Giros" class="action-bar">
  
    <ActionItem ios.position="right" android.position="actionBar" (tap)="newTodo()">
        <Label text="&#xf067;" class="fa action-item"></Label>
    </ActionItem>
</ActionBar>
<ScrollView>
<StackLayout>

    <GridLayout *ngFor="let todo of todoList" rows="auto" columns="auto, *, auto, auto">
        <Button row="0" col="0" [text]="todo.lActivo ? '&#xf05d;' : '&#xf10c;'" class="fa" [class.btn-done]="todo.done" (tap)="toggleDone(todo)"></Button>
        
        <Label *ngIf="!editar" row="0" col="1" [text]="todo.cGiro" [class.done]="todo.done" textWrap="true"></Label>
        <TextField *ngIf="editar" row="0" col="1" hint="Ingresa el nuevo nombre" [(ngModel)]="todo.cGiro"></TextField>
        
        <Button row="0" col="2" [text]="editar ? '&#xf00c;' : '&#xf040;'" class="fa" (tap)="editTodo(todo)"></Button>
        <Button *ngIf="!editar" row="0" col="3" text="&#xf1f8;" class="fa borrar" (tap)="deleteTodo(todo.iGiro)"></Button>
    </GridLayout>
        
</StackLayout>
</ScrollView>