Page {
  background-color: white;
  font-size: 17;
}
TextField {
  margin:    5;
  padding:   10;
  font-size: 13;
}
StackLayout {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15;
  background-color: white;
}

Button, TextField {
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 10;
}
Label{
  margin:    5;
  padding:   10;
  font-size: 13;
}
.logo{
    margin-top: 40;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;  
}
.submit-button {
  background-color: #E73C3E ;
  color:white;
  margin-top: 20;
  width: 50%;
}
.register{
  background-color: #B8B7B8;
  color:white;
  margin-top: 20;
  width: 50%;
}