.submit-button {
  background-color: #E73C3E ;
  color:white;
  margin-top: 20;
  width: 50%;
}
.info{
    margin-top: 40;
    margin-bottom: 20;
    font: caption bold;
}
.back{
    margin: 2;
    padding: 2;
    width: 7%;
    align-items: left;
}